<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commits</title>
    <!-- Import de la librairie Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <canvas id="commitChart" width="800" height="400"></canvas>
    <script>
        // Fonction pour extraire les minutes d'une date donnée
        function extractMinutes(dateString) {
            var dateObject = new Date(dateString);
            return dateObject.getMinutes();
        }

        // Récupérer les données de l'API GitHub
        fetch('http
